body,
html {
  background-color: white !important;
  height: 100%;
}

footer {
  padding-bottom: 30px;
}

.card-title {
  max-width: 12rem;
}

.card-body {
  padding: 5px;
}

.fc-toolbar-title {
  text-align: center !important;
}

.fc-toolbar-chunk {
  text-align: center !important;
}

.fc-button-active {
  /* text-decoration: underline; */
}

@media only screen and (max-width: 460px) {
  .fc-today-button {
    display: none !important;
    margin-left: 0 !important;
    margin-top: 2px !important;
  }
  .fc-toolbar-title {
    display: table-caption !important;
    word-spacing: unset;
    word-spacing: 9999rem;
  }
  .fc-prev-button {
    margin-left: 26px !important;
  }
  .fc-next-button {
    position: relative;
    right: 0px;
  }
}

.fc-event-title {
  font-size: 1rem;
  padding: 0 !important;
  padding-left: 1px !important;
}

.fc-event-title-container {
  line-height: 1.52;
}

.hoverMenu {
  position: absolute;
  z-index: 1;
  background-color: white;
  padding: 5px 10px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  opacity: 0.8;
}

.stripe {
  height: 0.7rem;
  opacity: 50%;
}

.blue-stripe {
  background-color: blue;
}

.red-stripe {
  background-color: red;
}

.black-stripe {
  background-color: black;
}

.yellow-stripe {
  background-color: yellow;
}

.green-stripe {
  background-color: green;
}

footer {
  margin-top: 2rem !important;
}
