body,
html {
  background-color: white !important;
  height: 100%;
}

.fc-event-title {
  font-size: 0.7rem;
  padding: 0 !important;
  padding-left: 1px !important;
}

.fc-event-title-container {
  line-height: 1.2;
}

.stripe {
  height: 0.55rem;
  opacity: 50%;
}

.blue-stripe {
  background-color: rgb(60, 60, 175);
}

.red-stripe {
  background-color: rgb(184, 0, 0);
}

.black-stripe {
  background-color: black;
}

.yellow-stripe {
  background-color: yellow;
}

.green-stripe {
  background-color: green;
}

footer {
  margin-top: 2rem !important;
}
